.hidden-item{
    display: none;
}
.whatsapp-fixed{
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 15px;
	z-index: 99999;
	background-color: transparent;
}

.whatsapp-fixed span{
	color: white;
	font-size:50px;
	color: green;
	background-color: transparent;
}
@media (min-width: 200px) and (max-width: 480px) {
    #slogan-text{
        display:none;
    }
}
